!!!
%html

  %head
    %title!= page_title
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1.0'}/
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %link{rel:'icon', type:'image/png', href:'/favicon.png'}/
    %link{rel:'apple-touch-icon', type:'image/png', href:'/touch-icon.png'}/
    = stylesheet_link_tag :application, media: 'all'
    = page_stylesheet_tag
    = javascript_include_tag :application
    = page_javascript_tag
    = csrf_meta_tag
    = yield(:head)

  %body{ class: ["#{controller_name}-#{action_name}"] }
    = render 'layouts/header'
    = content_for?(:application_content) ? yield(:application_content) : yield